body {
  background-color: #f0f0f0;
}
body .btn {
  border-color: transparent;
}

/*修改placeholder的默认颜色*/
input::-webkit-input-placeholder {
  color: #999 !important;
}
input:-moz-placeholder {
  color: #999 !important;
}
input::-moz-placeholder {
  color: #999 !important;
}
input:-ms-input-placeholder {
  color: #999 !important;
}
input, .select-result {
  color: #303030;
  font-weight: normal;
}
.complete-tips {
  background: url(./images/add_title.png) no-repeat;
  height: 98px;
  background-size: contain;
}
.complete-tips i {
  font-size: 12px;
  position: absolute;
  top: 2%;
  right: 3%;
}
.work-info {
  font-size: 14px;
  color: #303030;
  background-color: #dbdbdb;
  padding: 7px 10px;
}
.work-info .company-info span {
  color: #fc6621;
}
.name-card {
  margin-bottom: 10px;
}
.name-card li:last-child {
  border-bottom: none;
}
.name-card .common-email input, .work-exp .now-company input, .work-exp .job-name input, .edu-exp .major-name input {
  right: 1%;
}
.name-card .common-email {
  position: relative;
}

/*.name-card .common-email .countdown {
  position: absolute;
  bottom: 46px;
  right: 5px;
  width: 97%;
  background-color: #fff;
  z-index: 2;
  display: block;
  background: #f9f9f9;
}
.name-card .common-email .countdown li {
  height: 40px;
  line-height: 40px;
  border: 1px solid #ddd;
  border-bottom: none;
}
.name-card .common-email .countdown li:last-child {
}*/
.placeholder {
  color: #999;
}
.icon-go-ahead {
  color: #999;
}
ul.items {
  padding: 0 5px 0 7px;
  background-color: #fff;
  font-size: 15px;
  color: #303030;
}
ul.items li {
  padding: 0 2%;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #dcdcdc;
  position: relative;
}
ul.items li label {
  display: block;
}
ul.items li label input {
  width: 30%;
}
ul.items li .user-select {
  float: right;
}
ul.items .real-name {
  position: relative;
}
ul.items .real-name input {
  text-align: left;
  float: right;
  width: 50%;
  text-align: right;
  font-size: 14px;
  margin-right: 25%;
  color: #303030;
  right: 6%;
}
ul.items .real-name .gender {
  position: absolute;
  top: 0;
  right: 0;
}
ul.items .real-name .gender input {
  opacity: 0;
}
ul.items .real-name .gender em {
  display: inline-block;
  width: 45px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 0 3px 3px 0;
  font-size: 14px;
  color: #777;
}
ul.items .real-name .gender em:first-child {
  border-radius: 3px 0 0 3px;
}
ul.items .real-name .gender em.active {
  background-color: #fc6621;
  color: #fff;
}
ul.items input {
  text-align: right;
}
ul.items li input {
  width: 74%;
  position: absolute;
  right: 2%;
  top: 3px;
}
ul.items li.times span {
  display: inline-block;
  width: 90px;
  height: 31px;
  line-height: 31px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
}
ul.items li.times em {
  color: #999;
}
ul.items li.times input {
  position: static;
  width: 29%;
  border: 1px solid #dcdcdc;
  text-align: left;
  height: 27px;
  line-height: 27px;
  border-radius: 3px;
}
ul.items li.times .times-input {
  float: right;
}
ul.items li.times .times-input em {
  color: #999;
}
.work-exp {
  margin-bottom: 10px;
}
.work-exp li:last-child {
  border-bottom: none;
}
.work-exp .now-salary .salary-input {
  margin-left: 4%;
  color: #666;
}
.work-exp .now-salary .month-salary {
  position: static;
  width: 21%;
  border: 1px solid #dcdcdc;
  height: 31px;
  line-height: 31px;
  border-radius: 3px;
}
.work-exp .now-salary .month-amount {
  position: static;
  width: 9%;
  border: 1px solid #dcdcdc;
  height: 31px;
  line-height: 31px;
  border-radius: 3px;
  text-align: center;
}
.work-exp .secret {
  display: inline-block;
  width: 65px;
  height: 30px;
  line-height: 30px;
  background: #d5d5d5;
  border-radius: 3px;
  position: absolute;
  top: 8px;
  right: 2%;
}
.work-exp .secret input {
  opacity: 0;
}
.work-exp .secret .icon-check {
  width: 30px;
  margin: 2px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  background: #fff;
  border-radius: 3px;
}
.work-exp .secret .secret-text {
  float: right;
  color: #fff;
  font-size: 14px;
  width: 30px;
  text-align: left;
}
.work-exp .secret-on {
  background: #ff7f00;
}
.work-exp .secret-on .secret-text {
  float: left;
  color: #fff;
  font-size: 14px;
  width: 30px;
  text-align: right;
}
.work-exp .secret-on .icon-check {
  float: right;
}
.work-exp .industry-job .user-select {
  width: 75%;
  height: 46px;
  line-height: 46px;
}
.work-exp .industry-job .select-result {
  display: inline-block;
  width: 92%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}
.work-exp .industry-job .text-icon {
  float: right;
}
.btn-box {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.btn-box  .btn-submit {
  width: 290px;
  background-color: #fc6621;
  font-size: 16px;
  color: #fff;
  line-height: 44px;
}
ul.items .suggest-main {
  background: #fff;
  position: absolute;
  width: 100%;
  left: -7px;
  top: 46px;
  padding: 0 6px 0;
  z-index: 2;
}
ul.items .suggest-main dd, ul.items .suggest-main li {
  line-height: 40px;
  height: 40px;
  border-bottom: 1px dashed #eee;
  text-align: right;
  padding: 0 10px;
  position: relative;
}
ul.items .suggest-main dd span, ul.items .suggest-main li span {
  position: absolute;
  left: 0;
  top: 0;
  color: #aaa;
}
.update-date {
  padding-left: 16px;
}
.update-date {
  display: none;
  color: #666;
}
