<!-- 友情链接（招聘网、人才网、求职网） -->
<section class="friendly-link-wrap link-box flexbox">
  <a href="https://m.liepin.com/" class="flex-1"><span>招聘网</span></a>
  <a href="https://m.liepin.com/job/" class="flex-1 "><span>人才网</span></a>
  <a href="https://m.liepin.com/qiuzhi/" class="flex-1"><span>求职网</span></a>
</section>
<!-- 下面是底部热链，服务端动态引入，不用前端写 -->
<section class="hot-links">
  <div data-selector="hot-links-tab" class="tab-btn flexbox">
    <p class="flex-1  active">热门职位</p>
    <p class="flex-1 ">热门行业</p>
    <p class="flex-1 ">热门城市</p>
  </div>
  <div class="tab-box" data-selector="hot-links-main">
    <div class="tab-content">

      <div class="flexbox">
        <p class="flex-1"><a title="重庆销售代表招聘" target="_blank" href="/zpzhongqingxiaoshoudaibiao/">重庆销售代表招聘</a></p>
        <p class="flex-1"><a title="助理销售代表招聘" target="_blank" href="/zpzhulixiaoshoudaibiao/">助理销售代表招聘</a></p>
        <p class="flex-1"><a title="驻外销售代表招聘" target="_blank" href="/zpzhuwaixiaoshoudaibiao/">驻外销售代表招聘</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="驻店销售代表招聘" target="_blank" href="/zpzhudianxiaoshoudaibiao/">驻店销售代表招聘</a></p>
        <p class="flex-1"><a title="驻区业务代表招聘" target="_blank" href="/zpzhuquyewudaibiao/">驻区业务代表招聘</a></p>
        <p class="flex-1"><a title="别墅销售代表招聘" target="_blank" href="/zpbieshuxiaoshoudaibiao/">别墅销售代表招聘</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="浙江医药代表招聘" target="_blank" href="/zpzhejiangyiyaodaibiao/">浙江医药代表招聘</a></p>
        <p class="flex-1"><a title="电话客服代表招聘" target="_blank" href="/zpdianhuakefudaibiao/">电话客服代表招聘</a></p>
        <p class="flex-1"><a title="储备销售代表招聘" target="_blank" href="/zpchubeixiaoshoudaibiao/">储备销售代表招聘</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="房屋销售代表招聘" target="_blank" href="/zpfangwuxiaoshoudaibiao/">房屋销售代表招聘</a></p>
        <p class="flex-1"><a title="房产销售代表招聘" target="_blank" href="/zpfangchanxiaoshoudaibiao/">房产销售代表招聘</a></p>
        <p class="flex-1"><a title="高端销售代表招聘" target="_blank" href="/zpgaoduanxiaoshoudaibiao/">高端销售代表招聘</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="高级客户代表招聘" target="_blank" href="/zpgaojikehudaibiao/">高级客户代表招聘</a></p>
        <p class="flex-1"><a title="OTC代表招聘" target="_blank" href="/zpotcdaibiao/">OTC代表招聘</a></p>
        <p class="flex-1"><a title="沈阳销售代表招聘" target="_blank" href="/zpshenyangxiaoshoudaibiao/">沈阳销售代表招聘</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="同业销售代表招聘" target="_blank" href="/zptongyexiaoshoudaibiao/">同业销售代表招聘</a></p>
        <p class="flex-1"><a title="手机销售代表招聘" target="_blank" href="/zpshoujixiaoshoudaibiao/">手机销售代表招聘</a></p>
        <p class="flex-1"><a title="市场销售代表招聘" target="_blank" href="/zpshichangxiaoshoudaibiao/">市场销售代表招聘</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="食品销售代表招聘" target="_blank" href="/zpshipinxiaoshoudaibiao/">食品销售代表招聘</a></p>
        <p class="flex-1"><a title="上海医药代表招聘" target="_blank" href="/zpshanghaiyiyaodaibiao/">上海医药代表招聘</a></p>
        <p class="flex-1"><a title="苏州销售代表招聘" target="_blank" href="/zpsuzhouxiaoshoudaibiao/">苏州销售代表招聘</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="销售渠道代表招聘" target="_blank" href="/zpxiaoshouqudaodaibiao/">销售渠道代表招聘</a></p>
        <p class="flex-1"><a title="销售客服代表招聘" target="_blank" href="/zpxiaoshoukefudaibiao/">销售客服代表招聘</a></p>
        <p class="flex-1"><a title="销售区域代表招聘" target="_blank" href="/zpxiaoshouquyudaibiao/">销售区域代表招聘</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="销售精英代表招聘" target="_blank" href="/zpxiaoshoujingyingdaibiao/">销售精英代表招聘</a></p>
        <p class="flex-1"><a title="业务发展代表招聘" target="_blank" href="/zpyewufazhandaibiao/">业务发展代表招聘</a></p>
        <p class="flex-1"><a title="小区销售代表招聘" target="_blank" href="/zpxiaoquxiaoshoudaibiao/">小区销售代表招聘</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="销售代表助理招聘" target="_blank" href="/zpxiaoshoudaibiaozhuli/">销售代表助理招聘</a></p>
        <p class="flex-1"><a title="医疗销售代表招聘" target="_blank" href="/zpyiliaoxiaoshoudaibiao/">医疗销售代表招聘</a></p>
        <p class="flex-1"><a title="网络销售代表招聘" target="_blank" href="/zpwangluoxiaoshoudaibiao/">网络销售代表招聘</a></p>
      </div>
    </div>
    <div class="tab-content">

      <div class="flexbox">
        <p class="flex-1"><a title="互联网/电商招聘" target="_blank" href="/internet/">互联网/电商招聘</a></p>
        <p class="flex-1"><a title="网络游戏招聘" target="_blank" href="/wangluoyouxi/">网络游戏招聘</a></p>
        <p class="flex-1"><a title="IT服务招聘" target="_blank" href="/itfuwu/">IT服务招聘</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="电子招聘" target="_blank" href="/dianzi/">电子招聘</a></p>
        <p class="flex-1"><a title="建筑工程招聘" target="_blank" href="/dichan/">建筑工程招聘</a></p>
        <p class="flex-1"><a title="房地产服务招聘" target="_blank" href="/fangchanfuwu/">房地产服务招聘</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="规划设计招聘" target="_blank" href="/shineisheji/">规划设计招聘</a></p>
        <p class="flex-1"><a title="银行招聘" target="_blank" href="/yinhang/">银行招聘</a></p>
        <p class="flex-1"><a title="投资招聘" target="_blank" href="/jijingzhengquan/">投资招聘</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="快消品招聘" target="_blank" href="/kuaixiaolingshou/">快消品招聘</a></p>
        <p class="flex-1"><a title="批发零售招聘" target="_blank" href="/pifalingshou/">批发零售招聘</a></p>
        <p class="flex-1"><a title="服装服饰招聘" target="_blank" href="/naiyongxiaofei/">服装服饰招聘</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="家电业招聘" target="_blank" href="/jiadian/">家电业招聘</a></p>
        <p class="flex-1"><a title="奢侈品收藏品招聘" target="_blank" href="/shechipinshoucang/">奢侈品收藏品招聘</a></p>
        <p class="flex-1"><a title="工艺品珠宝玩具招聘" target="_blank" href="/gongyipinzhubao/">工艺品珠宝玩具招聘</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="印刷/包装/造纸招聘" target="_blank" href="/yinshuabaozhuang/">印刷/包装/造纸招聘</a></p>
        <p class="flex-1"><a title="工业自动化招聘" target="_blank" href="/yiqiyibiao/">工业自动化招聘</a></p>
        <p class="flex-1"><a title="原材料加工招聘" target="_blank" href="/yuancailiao/">原材料加工招聘</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="中介服务招聘" target="_blank" href="/zhongjiefuwu/">中介服务招聘</a></p>
        <p class="flex-1"><a title="专业咨询招聘" target="_blank" href="/zhuanyefuwu/">专业咨询招聘</a></p>
        <p class="flex-1"><a title="娱乐休闲招聘" target="_blank" href="/yuleyundong/">娱乐休闲招聘</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="影视文化招聘" target="_blank" href="/meiti/">影视文化招聘</a></p>
        <p class="flex-1"><a title="运输物流招聘" target="_blank" href="/yunshuwuliu/">运输物流招聘</a></p>
        <p class="flex-1"><a title="航空航天招聘" target="_blank" href="/hangkonghangtian/">航空航天招聘</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="环保行业招聘" target="_blank" href="/huanbao/">环保行业招聘</a></p>
        <p class="flex-1"><a title="能源/水利招聘" target="_blank" href="/nengyuan/">能源/水利招聘</a></p>
        <p class="flex-1"><a title="新能源招聘" target="_blank" href="/xinnegnyuan/">新能源招聘</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="政务/公共服务招聘" target="_blank" href="/zhengfu/">政务/公共服务招聘</a></p>
        <p class="flex-1"><a title="农林牧渔招聘" target="_blank" href="/nongye/">农林牧渔招聘</a></p>
        <p class="flex-1"><a title="其他行业招聘" target="_blank" href="/qitahangye/">其他行业招聘</a></p>
      </div>
    </div>
    <div class="tab-content">

      <div class="flexbox">
        <p class="flex-1"><a title="上海找工作" target="_blank" href="/sh/zhaogongzuo/">上海找工作</a></p>
        <p class="flex-1"><a title="深圳找工作" target="_blank" href="/sz/zhaogongzuo/">深圳找工作</a></p>
        <p class="flex-1"><a title="广州找工作" target="_blank" href="/gz/zhaogongzuo/">广州找工作</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="厦门找工作" target="_blank" href="/xiamen/zhaogongzuo/">厦门找工作</a></p>
        <p class="flex-1"><a title="杭州找工作" target="_blank" href="/hz/zhaogongzuo/">杭州找工作</a></p>
        <p class="flex-1"><a title="郑州找工作" target="_blank" href="/zhengzhou/zhaogongzuo/">郑州找工作</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="南京找工作" target="_blank" href="/nj/zhaogongzuo/">南京找工作</a></p>
        <p class="flex-1"><a title="天津找工作" target="_blank" href="/tj/zhaogongzuo/">天津找工作</a></p>
        <p class="flex-1"><a title="合肥找工作" target="_blank" href="/hefei/zhaogongzuo/">合肥找工作</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="成都找工作" target="_blank" href="/cd/zhaogongzuo/">成都找工作</a></p>
        <p class="flex-1"><a title="温州找工作" target="_blank" href="/wenzhou/zhaogongzuo/">温州找工作</a></p>
        <p class="flex-1"><a title="苏州找工作" target="_blank" href="/suzhou/zhaogongzuo/">苏州找工作</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="哈尔滨找工作" target="_blank" href="/haerbin/zhaogongzuo/">哈尔滨找工作</a></p>
        <p class="flex-1"><a title="大连找工作" target="_blank" href="/dl/zhaogongzuo/">大连找工作</a></p>
        <p class="flex-1"><a title="济南找工作" target="_blank" href="/jinan/zhaogongzuo/">济南找工作</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="昆明找工作" target="_blank" href="/kunming/zhaogongzuo/">昆明找工作</a></p>
        <p class="flex-1"><a title="石家庄找工作" target="_blank" href="/shijiazhuang/zhaogongzuo/">石家庄找工作</a></p>
        <p class="flex-1"><a title="青岛找工作" target="_blank" href="/qingdao/zhaogongzuo/">青岛找工作</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="无锡找工作" target="_blank" href="/wuxi/zhaogongzuo/">无锡找工作</a></p>
        <p class="flex-1"><a title="沈阳找工作" target="_blank" href="/shenyang/zhaogongzuo/">沈阳找工作</a></p>
        <p class="flex-1"><a title="太原找工作" target="_blank" href="/taiyuan/zhaogongzuo/">太原找工作</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="扬州找工作" target="_blank" href="/yangzhou/zhaogongzuo/">扬州找工作</a></p>
        <p class="flex-1"><a title="武汉找工作" target="_blank" href="/wuhan/zhaogongzuo/">武汉找工作</a></p>
        <p class="flex-1"><a title="西安找工作" target="_blank" href="/xian/zhaogongzuo/">西安找工作</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="盐城找工作" target="_blank" href="/yancheng/zhaogongzuo/">盐城找工作</a></p>
        <p class="flex-1"><a title="长春找工作" target="_blank" href="/changchun/zhaogongzuo/">长春找工作</a></p>
        <p class="flex-1"><a title="桂林找工作" target="_blank" href="/guilin/zhaogongzuo/">桂林找工作</a></p>
      </div>

      <div class="flexbox">
        <p class="flex-1"><a title="长沙找工作" target="_blank" href="/changsha/zhaogongzuo/">长沙找工作</a></p>
        <p class="flex-1"><a title="烟台找工作" target="_blank" href="/yantai/zhaogongzuo/">烟台找工作</a></p>
        <p class="flex-1"><a title="宝鸡找工作" target="_blank" href="/baoji/zhaogongzuo/">宝鸡找工作</a></p>
      </div>
    </div>
  </div>
</section>