<a class="company-card flexbox">
  <div class="company-card-img-wrap">
    <img src="https://image0.lietou-static.com/middle_/5bfe93af74719d9f609aaaef03a.png" alt="">
  </div>
  <div class="flex-1 company-card-content">
    <div class="company-card-title ellipsis-1">Baidu</div>
    <div class="company-card-desc ellipsis-1">
      <span class="company-card-desc-item">互联网/电商</span>
      <span class="company-card-desc-item">IPO上市</span>
      <span class="company-card-desc-item">10000人以上</span>
    </div>
    <div class="company-card-desc ellipsis-1">
      在招职位<em>1935</em>个
    </div>
  </div>
</a>