<section class="job-base-info">
  <div class="job-base-info-desc">
    <h1 class="job-base-info-rpo clearfix">人工智能产品经理</h1>
    <p>
      <span>北京-西二旗</span>
      <span>3-5年</span>
      <span>本科</span>
    </p>
    <p>
      <strong>20-30万</strong>
    </p>
  </div>
  <div class="job-base-info-publisher clearfix">
    <img src="../images/photo.png" alt=""/>
    <div class="job-base-info-publisher-desc">
      <strong>刘翔</strong>
      <span>当前在线</span>
      <i class="cert-flag">已认证</i>
    </div>
    <div class="job-base-info-publisher-desc">
      HR · 英仕互联（北京）有限公司
    </div>
  </div>
</section>
