body {
  height: 100%;
}
.elite {
  background-color: #fff;
  padding-bottom: 50px;
}
.top-img {
  text-align: center;
}
.content {
  background-color: #fff;
  font-size: 14px;
}
.content ul li {
  position: relative;
  border-bottom: 1px solid #e8e8e8;
  line-height: 56px;
}
.content ul li a {
  display: block;
  color: #333;
}
.content ul li .text-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  top: 0;
}
@media screen and (max-width:375px) {
  .content ul li {
    padding: 0 4px;
  }
  .content ul li .text-icon {
    right: 4px;
  }
}
@media screen and (min-width:375px) {
  .content ul li {
    padding: 0 16px;
  }
  .content ul li .text-icon {
    right: 13px;
  }
}
.elite .content ul li {
  padding: 0 14px;
}
.elite .content ul li .text-icon {
  right: 13px;
}