<a class="job-card">
  <h3>
    <div class="job-title">
      <span class="ellipsis">java开发工程师</span>
      <span class="job-title-label">急聘</span>
    </div>
    <small>24-36万</small></h3>
  <div class="job-card-company">猎聘网</div>
  <div class="job-card-labels">
    <label>北京</label>
    <label>四年以上</label>
    <label>本科及以上</label>
    <label>本科及以上</label>
    <label>本科及以上</label>
    <label>本科及以上</label>
    <label>本科及以上</label>
    <label>本科及以上</label>
    <label>本科及以上</label>
  </div>
  <div class="job-card-publisher clearfix"><img src="../images/photo.png" alt="">王小姐 · 招聘经理</div>
  <p class="job-card-date">2020-04-11</p>
</a>
