<!-- 底部热链，服务端动态引入，不用前端写  -->
<!-- 
	针对的场景：
	1、真实职位详情页
	2、真实企业主页
	3、真实搜索结果列表页，包括城市分站和主站
-->
<section class="real-hot-links-container">
	<ul class="hot-links-content hot-links-hide">
		<li>
			<p class="hot-links-tab flexbox">
				<span>推荐公司</span>
				<span class="operation" data-selector="tab"><strong>展开</strong><i class="text-icon icon-down"></i></span>
			</p>
			<div class="tab-content">
				<p><a title="重庆销售代表招聘" target="_blank" href="/zpzhongqingxiaoshoudaibiao/">重庆销售代表招聘重庆销售代表招聘重庆销售代表招聘重庆销售代表招聘</a></p>
				<p><a title="助理销售代表招聘" target="_blank" href="/zpzhulixiaoshoudaibiao/">助理销售代表招聘</a></p>
				<p><a title="驻外销售代表招聘" target="_blank" href="/zpzhuwaixiaoshoudaibiao/">驻外销售代表招聘</a></p>
				<p><a title="驻外销售代表招聘" target="_blank" href="/zpzhuwaixiaoshoudaibiao/">驻外销售代表招聘驻外销售代表招聘驻外销售代表招聘12344</a></p>
				<p><a title="驻外销售代表招聘" target="_blank" href="/zpzhuwaixiaoshoudaibiao/">驻外销售代表招聘</a></p>
			</div>
		</li>
		<li>
			<p class="hot-links-tab flexbox">
				<span>推荐职位</span>
			</p>
			<div class="tab-content">
				<p><a title="重庆销售代表招聘" target="_blank" href="/zpzhongqingxiaoshoudaibiao/">重庆销售代表招聘</a></p>
				<p><a title="助理销售代表招聘" target="_blank" href="/zpzhulixiaoshoudaibiao/">助理销售代表招聘</a></p>
				<p><a title="驻外销售代表招聘" target="_blank" href="/zpzhuwaixiaoshoudaibiao/">驻外销售代表招聘</a></p>
			</div>
		</li>
	</ul>
	<p class="current-link">首页 > 当前位置</p>
</section>